[submodule "vim-files/vim/bundle/python-syntax"]
	path = vim-files/vim/bundle/python-syntax
	url = https://github.com/hdima/python-syntax.git
[submodule "vim-files/vim/bundle/nerdtree"]
	path = vim-files/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-files/vim/bundle/vim-fugitive"]
	path = vim-files/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-files/vim/bundle/minibufexpl"]
	path = vim-files/vim/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "vim-files/vim/bundle/ctrlp.vim"]
	path = vim-files/vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim-files/vim/bundle/powerline"]
	path = vim-files/vim/bundle/powerline
	url = https://github.com/powerline/powerline
[submodule "vim-files/vim/bundle/vim-surround"]
	path = vim-files/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim-files/vim/bundle/syntastic"]
	path = vim-files/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim-files/vim/autoload/vim-pathogen"]
	path = vim-files/vim/autoload/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim-files/vim/bundle/vim-markdown"]
	path = vim-files/vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim-files/vim/bundle/peaksea"]
	path = vim-files/vim/bundle/peaksea
	url = https://github.com/vim-scripts/peaksea.git
[submodule "vim-files/vim/bundle/taglist.vim"]
	path = vim-files/vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim-files/vim/bundle/mru.vim"]
	path = vim-files/vim/bundle/mru.vim
	url = https://github.com/vim-scripts/mru.vim.git
[submodule "vim-files/vim/bundle/yankring.vim"]
	path = vim-files/vim/bundle/yankring.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "vim-files/vim/bundle/vim-semsible"]
	path = vim-files/vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim-files/vim/bundle/vim-better-whitespace"]
	path = vim-files/vim/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "vim-files/vim/bundle/nofrils"]
	path = vim-files/vim/bundle/nofrils
	url = https://github.com/robertmeta/nofrils.git
[submodule "urxvt-files/ext_resize-font"]
	path = urxvt-files/ext_resize-font
	url = https://github.com/simmel/urxvt-resize-font.git
[submodule "urxvt-files/ext_urxvt_perl"]
	path = urxvt-files/ext_urxvt_perl
	url = https://github.com/effigies/urxvt-perl.git
[submodule "vim-files/vim/bundle/yats"]
	path = vim-files/vim/bundle/yats
	url = https://github.com/HerringtonDarkholme/yats.vim.git
[submodule "vim-files/vim/bundle/YouCompleteMe"]
	path = vim-files/vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim-files/vim/bundle/incsearch.vim"]
	path = vim-files/vim/bundle/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim
